html{
  background-color:black;
  background-image:url("../images/forest.jpg" );
}
body{
  width:1500px;
  height:2000px;
  background-color: black;
  color: white;
  margin: 15px auto;
  border: 10px solid #A588B2;
  box-shadow: 10px 10px 5px black;
}

header{
font-family: 'Amatic SC', cursive;
text-align:center;
padding-top: 20px;
padding-bottom:20px;
background-color:#A588B2;
color:black;
}
header h2{
  font-family: 'Fredericka the Great', cursive;
  font-size: 100px;
  font-weight: lighter;
}
header h3 {
  font-size: 30px;
}
.container{
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  margin: 50px;
}
#one {
width: 100px;
height: 100px;
background: red;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
border-radius: 50px;
background-color:grey;
font-size: 30px;
font-family: 'Fredericka the Great', cursive;

}
#one  ul li  {
  list-style-type: none;
}
#two{
width: 100px;
height: 100px;
background: red;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
border-radius: 50px;
background-color: grey;
font-size: 30px;
font-family: 'Fredericka the Great', cursive;

}
#two ul li {
  list-style-type: none;
}
#two ul {
  list-style-type:none;
}

#three {
width: 100px;
height: 100px;
background: red;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
border-radius: 50px;
background-color:grey;
font-size: 30px;
font-family: 'Fredericka the Great', cursive;
}

#three  ul li  {
  list-style-type: none;
}
#four  {
width: 100px;
height: 100px;
background: red;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
border-radius: 50px;
background-color:grey;
font-size: 30px;
font-family: 'Fredericka the Great', cursive;
}
#four ul li {
list-style-type:none;
}
#sidebarA{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:300px;
  height:350px;
  float:left;
  padding:20px 20px 20px 20px;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
}
#sidebarA img{
  align-items: center;
  padding-top:500px;
  padding-bottom: 40px;
}
main {
  width: 800px;
  float:left;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}
main h2 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 70px;
  font-weight: lighter;
}
#sidebarB {
  width: 100px;
  height: 350px;
  float:right;
  align-items:center;
  margin-right:250px;
  border-left:2px solid black;
  font-family: 'Fredericka the Great', cursive;
  font-weight:lighter;
  font-size: 50px;
}
#sidebarB h2{
  font-weight:lighter;
}
